.bg {
    border: 3px solid black;
    background-color: rgb(220,220,220);
    margin-bottom: 15px;
}

.italic {
    font-style: italic;
    margin-bottom: 0;
}

.abv {
    white-space: nowrap;
}

.icon {
    width:100%;
    max-width: 75px;
}

.sold-out {
    position: absolute;
    color: red;
}

.dim {
    opacity: .5;
    box-shadow: 0;
}

.bright {
    box-shadow: 3px 3px 3px black;
}

h3 {
    font-family: 'Roboto Slab', serif;
}