<a class="anchor" id="about"></a>
<div class="row bg">
  <div class="col-sm-2 d-none d-md-block px-0">
    <app-page-side [title]="sideTitle"></app-page-side>
  </div>


  <div class="col-sm-6 p-1">
    <app-page-title [title]="pageTitle"></app-page-title>
    <p>The Broderick Family have been local Jamul residents for the past 19 years.
      Craig, Beth, Cameron and Willie are the owners of this local establishment.
      The dream of the four is to create a family friendly environment that everyone can enjoy.
      The restaurant is a home away from home for us. The beauty of our place is that at any given
      time you should be able to find at least one of the four of us working. So by all means pull
      us aside and ask us any questions you may have.
    </p>
  </div>
  <div class="col-sm-4 my-auto">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/brodys-192703.appspot.com/o/site-images%2Ffamily1.JPG?alt=media&token=d615c9a8-4551-4fd7-803e-e2b1ced249dc">
  </div>
</div>