.bg {
    background-color: rgba(200,200,200, 0);
}

.test {
    position: relative;
    width: 100%;
    height: 500px;
    border: 1px solid black;
}


.italic {
    font-style: italic;
}

h4 {
    font-family: 'Roboto Slab', serif;
}

/* .nav {
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
} */

a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}