
hr {
    margin: 2px;
    height: 2px;
    background-color: black;
}

.light-text {
    color: white;
    text-shadow: 2px 2px black;
}

.light-bars {
    background-color: white;
}

h3 {
    font-family: 'Anton', sans-serif;
}